@font-face{
font-family: phagspa;
src: url(../fonts/phagspa.ttf);
}

.nav{
    height:80px;
}
.navbar-default{
background-color: #fafafa;
    background-image: url("http://kamiljankowski.co.uk//images/lines.png");
}

.navbar-default .navbar-nav > li > a {
  line-height: 50px;
    font-family: phagspa;
    font-size: 16px;
    text-shadow: 0 1px #fff;
    color: #919191;
    text-decoration:none;
    padding-right:20px;
    padding-left:20px;
}

.navbar-default .navbar-nav > li > a:hover {
 color:#5EBBF9;   
}

.navbar .navbar-header{
    max-width: 350px;
}

 .navbar-header .logo-desc {
    float: left;   
     margin-left:110px;
     color: #FFA024;
   
}