.nav{
    height:80px;
}
.navbar-default{
background-color: #fafafa;
    background-image: url("http://kamiljankowski.co.uk//images/lines.png");
}

.navbar-default .navbar-nav > li > a {
  line-height: 50px;
}