@font-face{
font-family: phagspa;
src: url(../fonts/phagspa.ttf);
}

@media (max-width: @screen-xs) {
    body{font-size: 8px;}
    h3{font-size: 8px;}
    p{font-size: 8px;}
}

@media (max-width: @screen-sm) {
    body{font-size: 10px;}
}

h1{
   font-family: phagspa;
}

h3{
   font-family: phagspa;
    color:#fefefe;
}

p{
  font-family: phagspa;
  color:#fefefe;
}

label{
display:inline-block;
font-size:20px;
color:#f9f9f9;
float:left;
font-weight:500;
line-height:30px;

}



input{
color:#515151;
border:none;
padding-left:10px;
font-family: phagspa;
margin-botom:50px; !important;

}

.btn-default{
 background:#0099FF; 
    float:right;
    color:#f2f2f2;
    font-weight: bold;
    font-size:16px;
    border:none;
}

body{
    position:relative;
}


.navbar{
 margin:0;
 padding:0;
 width: 100%;
 position: fixed;
 top:0;
 display:block;
 z-index:3;
}

.navbar-default{
background-color: #fafafa;
    background-image: url("http://kamiljankowski.co.uk/images/lines.png");
}

.navbar-default .navbar-nav > li > a {
  line-height: 50px;
    font-family: phagspa;
    font-size: 16px;
    text-shadow: 0 1px #fff;
    color: #919191;
    text-decoration:none;
    padding-right:20px;
    padding-left:20px;
}

.navbar-default .navbar-nav > li > a:hover {
 color:#5EBBF9;   
}

.navbar .container .navbar-collapse .navbar-left{
  width:auto;
    margin-left: 20px;
}

.navbar .navbar-header .navbar-brand{
 padding-left: 0px;
margin:0;
    min-height: 80px
}

 .navbar .navbar-header .navbar-brand .logo-desc {
    float: left;   
     color: #FFA024;
     font-size:14px;
     padding: 10px 0 0 50px;
        
}

#portfolio{
width:100%;
height:100%;
background-color:#424242;
display:block;
background-image: url("http://kamiljankowski.co.uk/images/lines.png");
}

#portfolio .under-navbar{
 width:100%;
 height:80px;
}

#services{
width:100%;
height:100%;
background-color:#424242;
display:block;
background-image: url("http://kamiljankowski.co.uk/images/lines.png");
}

#services .under-navbar{
 width:100%;
 height:80px;
}

.static{
    background: #71c6ff;
  }

.cms{
    background: #32abfb;
}

.program{
    background: #0099ff;
}

.static .inner, .cms .inner, .program .inner{
    margin-left: 20px;
    margin-right: 20px;
    margin-top:20px;
    padding-bottom: 20px;
    
}

#services .container .row .static .inner .box-header, #services .container .row .cms .inner .box-header, #services .container .row .program .inner .box-header{
width:100%; 
height: 70px;
  display: block;
    padding-top: 20px;
    padding-bottom: 0;
    margin: 0;
  

}

#services .container .row .static .inner .box-header h3,  #services .container .row .cms .inner .box-header h3, #services .container .row .program .inner .box-header h3{
width: 80%;
    margin-top:10px;
    float: left;
    
 
   
}

#services .container .row .static .inner .box-header img,#services .container .row .cms .inner .box-header img,#services .container .row .program .inner .box-header img {
 margin-top:15px;
      float: left;
    
 }

#technology{
width:100%;
height:100%;
background-color:#424242;
display:block;
background-image: url("http://kamiljankowski.co.uk/images/lines.png");
}

#technology .under-navbar{
 width:100%;
 height:80px;
}

#technology .technology-images{
 margin-top:5%;   
}

#technology .container .technology{
 position:relative;
    display: block;
}

#about-me{
width:100%;
height:100%;
background-color:#424242;
display:block;
background-image: url("http://kamiljankowski.co.uk/images/lines.png");
}

#about-me .under-navbar{
 width:100%;
 height:80px;
}

#about-me .photo{
-webkit-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
}

#contact{
width:100%;
height:100%;
background-color:#424242;
display:block;
background-image: url("http://kamiljankowski.co.uk/images/lines.png");
}

#contact .under-navbar{
 width:100%;
 height:80px;
}

#contact .container #contact-details {
 width:100%;
margin-bottom: 100px;
}

#contact .container #contact-details .first-col {
width:50%;
    float:left;
    background:#0099FF;
    line-height: 50px;
     text-align: center;
    margin-bottom: 5%;
}

#contact .container #contact-details .second-col {
width:50%;
    float:left;
    background:#0099FF;
    line-height: 50px;
    text-align: center;
    margin-bottom: 5%;
}

#portfolio .container .page-header h1, #about-me .container .page-header h1, #technology .container .page-header h1 , #services .container .page-header h1, #contact .container .page-header h1{
 text-align: right;    
 color: #f9f9f9;
    font-size:22px;
}

#carousel-example-generic {
width: 100%; 
height: 70%;
margin: 0 auto;
}

.left, .right{
    background-image: none !important;
}

.left:hover, .right:hover{
    background-image: none;
}

.item{
 margin: 0 auto;   
}

